.box {
    position: relative;
    width: 1194px;
    height: 84px;
  }
  
  .box .nav-bar {
    position: fixed;
    width: 1194px;
    height: 84px;
    top: 0;
    left: 0;
  }
  
  .box .logo {
    position: absolute;
    width: 268px;
    height: 83px;
    top: 0;
    left: 0;
  }
  
  .box .overlap-group {
    position: relative;
    height: 83px;
    top: -1px;
  }
  
  .box .text-wrapper {
    position: absolute;
    width: 268px;
    top: 0;
    left: 0;
    font-family: "Garamond-Regular", Helvetica;
    font-weight: 400;
    color: #99775c;
    font-size: 50px;
    text-align: center;
    letter-spacing: -5.00px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .box .div {
    position: absolute;
    width: 268px;
    height: 34px;
    top: 49px;
    left: 0;
    font-family: "Quicksand-Medium", Helvetica;
    font-weight: 500;
    color: #99775c;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2.00px;
    line-height: normal;
  }
  
  .box .frame {
    display: flex;
    width: 103px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    left: 1091px;
    transition: all 0.4s ease;
  }
  
  .box .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    margin-left: -5.50px;
    margin-right: -5.50px;
    font-family: "REM-Regular", Helvetica;
    font-weight: 400;
    color: #99775c;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.20px;
    line-height: normal;
  }
  
  .box .div-wrapper {
    display: flex;
    width: 95px;
    height: 79px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    left: 993px;
    transition: all 0.4s ease;
  }
  
  .box .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -0.50px;
    font-family: "REM-Regular", Helvetica;
    font-weight: 400;
    color: #99775c;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.20px;
    line-height: normal;
  }
  
  .box .frame-2 {
    display: flex;
    width: 100px;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    left: 893px;
    transition: all 0.4s ease;
  }
  
  .box .text-wrapper-4 {
    position: relative;
    width: fit-content;
    margin-top: -1.00px;
    font-family: "REM-Regular", Helvetica;
    font-weight: 400;
    color: #99775c;
    font-size: 24px;
    text-align: center;
    letter-spacing: -1.20px;
    line-height: normal;
  }
  