.desktop-landing-page {
    background-color: #eae7dd;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .desktop-landing-page .div {
    background-color: #eae7dd;
    height: 3047px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .desktop-landing-page .nav-bar {
    height: 84px;
    left: 128px;
    position: absolute;
    top: 47px;
    width: 1194px;
  }
  
  .desktop-landing-page .logo {
    height: 83px;
    left: 0;
    position: absolute;
    top: 0;
    width: 268px;
  }
  
  .desktop-landing-page .overlap-group {
    height: 83px;
    position: relative;
    top: -1px;
  }
  
  .desktop-landing-page .text-wrapper {
    color: #99775c;
    font-family: "Garamond-Regular", Helvetica;
    font-size: 50px;
    font-weight: 400;
    left: 0;
    letter-spacing: -5.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 268px;
  }
  
  .desktop-landing-page .text-wrapper-2 {
    color: #99775c;
    font-family: "Quicksand-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    height: 34px;
    left: 0;
    letter-spacing: 2.00px;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 49px;
    width: 268px;
  }
  
  .desktop-landing-page .frame {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 1091px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    transition: all 0.4s ease;
    width: 103px;
  }
  
  .desktop-landing-page .text-wrapper-3 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.20px;
    line-height: normal;
    margin-left: -5.50px;
    margin-right: -5.50px;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop-landing-page .div-wrapper {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 79px;
    justify-content: center;
    left: 993px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    transition: all 0.4s ease;
    width: 95px;
  }
  
  .desktop-landing-page .text-wrapper-4 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.20px;
    line-height: normal;
    margin-top: -0.50px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop-landing-page .frame-2 {
    align-items: center;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 893px;
    padding: 24px 16px;
    position: absolute;
    top: 5px;
    transition: all 0.4s ease;
    width: 100px;
  }
  
  .desktop-landing-page .text-wrapper-5 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1.20px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop-landing-page .hero-section {
    height: 444px;
    left: 128px;
    opacity: 0;
    position: absolute;
    top: 294px;
    transform: scale(1.1);
    width: 1185px;
  }
  
  .desktop-landing-page .effortless {
    height: 203px;
    left: 117px;
    position: absolute;
    top: 71px;
    width: 954px;
  }
  
  .desktop-landing-page .overlap {
    border-radius: 50px;
    height: 90px;
    left: 499px;
    position: absolute;
    top: 354px;
    width: 185px;
  }
  
  .desktop-landing-page .rectangle {
    background-color: #57205b85;
    border: 3px solid;
    border-color: #57205b;
    border-radius: 50px;
    height: 90px;
    left: 0;
    opacity: 0.1;
    position: absolute;
    top: 0;
    width: 185px;
  }
  
  .desktop-landing-page .frame-3 {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 60px;
    justify-content: center;
    left: 2px;
    padding: 24px 16px;
    position: absolute;
    top: 14px;
    transition: all 0.4s ease;
    width: 183px;
  }
  
  .desktop-landing-page .text-wrapper-6 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1.60px;
    line-height: normal;
    margin-bottom: -13.00px;
    margin-left: -4.50px;
    margin-right: -4.50px;
    margin-top: -15.00px;
    position: relative;
    text-align: center;
    width: fit-content;
  }
  
  .desktop-landing-page .about {
    height: 201px;
    left: 126px;
    opacity: 0;
    position: absolute;
    top: 1554px;
    width: 1187px;
  }
  
  .desktop-landing-page .trusted-by {
    color: #57205b;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 57px;
    left: 0;
    letter-spacing: -1.60px;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 285px;
  }
  
  .desktop-landing-page .overlap-2 {
    height: 114px;
    left: 0;
    position: absolute;
    top: 87px;
    width: 1185px;
  }
  
  .desktop-landing-page .rectangle-2 {
    background-color: #dbd3d0;
    border: 3px solid;
    border-color: #57205b1a;
    border-radius: 25px;
    height: 105px;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 1185px;
  }
  
  .desktop-landing-page .dandeli {
    background-blend-mode: exclusion;
    height: 92px;
    left: 542px;
    object-fit: cover;
    position: absolute;
    top: 7px;
    width: 100px;
  }
  
  .desktop-landing-page .indofil {
    background-blend-mode: luminosity;
    height: 114px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 148px;
  }
  
  .desktop-landing-page .frame-4 {
    align-items: center;
    display: flex;
    gap: 10px;
    height: 84px;
    justify-content: center;
    left: 293px;
    padding: 10px;
    position: absolute;
    top: 11px;
    width: 151px;
  }
  
  .desktop-landing-page .text-wrapper-7 {
    color: #00000080;
    font-family: "Reenie Beanie-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -1.60px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
    text-align: center;
    width: 115px;
  }
  
  .desktop-landing-page .sugamya {
    background-blend-mode: exclusion;
    height: 59px;
    left: 991px;
    object-fit: cover;
    position: absolute;
    top: 23px;
    width: 142px;
  }
  
  .desktop-landing-page .jnera {
    background-blend-mode: exclusion;
    height: 62px;
    left: 740px;
    object-fit: cover;
    position: absolute;
    top: 22px;
    width: 153px;
  }
  
  .desktop-landing-page .faqs-section {
    align-items: flex-start;
    flex-direction: column;
    left: 126px;
    opacity: 0;
    position: absolute;
    top: 1782px;
    width: 1185px;
  }
  
  .desktop-landing-page .FA-qs {
    align-self: stretch;
    color: #57205b;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 57px;
    letter-spacing: -1.60px;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
  }
  
  .desktop-landing-page .faq {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 102px;
    padding: 24px;
    position: relative;
    width: 100%;
  }
  
  .desktop-landing-page .headline-button {
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 57px;
    justify-content: space-between;
    margin-bottom: -3.00px;
    position: relative;
    width: 100%;
  }
  
  .desktop-landing-page .question {
    flex: 1;
    flex-grow: 1;
    height: 50px;
    position: relative;
  }
  
  .desktop-landing-page .accordian-faqs {
    color: #57205b;
    font-family: "REM-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    height: 40px;
    left: 0;
    letter-spacing: -1.60px;
    line-height: normal;
    position: absolute;
    top: 4px;
    width: 926px;
  }
  
  .desktop-landing-page .button-drop {
    align-items: center;
    align-self: stretch;
    background-color: #eae7dd;
    border-radius: var(--size-radius-200);
    display: flex;
    gap: 8px;
    justify-content: center;
    overflow: hidden;
    padding: var(--size-space-300);
    position: relative;
    width: 100px;
  }
  
  .desktop-landing-page .vector {
    height: 20.08px;
    position: relative;
    width: 47.77px;
  }
  
  .desktop-landing-page .p {
    color: #57205b;
    font-family: "REM-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    height: 80px;
    left: 0;
    letter-spacing: -1.60px;
    line-height: normal;
    position: absolute;
    top: -16px;
    width: 926px;
  }
  
  .desktop-landing-page .footer {
    align-items: center;
    background-color: #57205b;
    display: flex;
    flex-direction: column;
    gap: 31px;
    height: 389px;
    left: -1px;
    position: absolute;
    top: 2658px;
    width: 1441px;
  }
  
  .desktop-landing-page .footer-row {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    gap: 97px;
    justify-content: center;
    padding: 20px;
    position: relative;
    width: 100%;
  }
  
  .desktop-landing-page .footer-copyright {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    position: relative;
  }
  
  .desktop-landing-page .overlap-group-wrapper {
    height: 83px;
    position: relative;
    width: 268.43px;
  }
  
  .desktop-landing-page .overlap-group-2 {
    height: 83px;
    position: relative;
    top: -1px;
    width: 268px;
  }
  
  .desktop-landing-page .text-wrapper-8 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    text-align: center;
    transition: all 0.4s ease;
    width: fit-content;
  }
  
  .desktop-landing-page .social-media-links {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 29px;
    position: relative;
  }
  
  .desktop-landing-page .social-media-icon {
    background-color: #99775c;
    height: 36px;
    position: relative;
    transition: all 0.5s ease;
    width: 36px;
  }
  
  .desktop-landing-page .img {
    height: 3px;
    position: relative;
    width: 1186px;
  }
  
  .desktop-landing-page .footer-column {
    align-items: flex-start;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 24px;
    padding: 10px 0px;
    position: relative;
    transition: all 0.4s ease;
    width: 949px;
  }
  
  .desktop-landing-page .text-wrapper-9 {
    align-self: stretch;
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.00px;
    position: relative;
  }
  
  .desktop-landing-page .mail-us {
    height: 59px;
    position: relative;
    transition: all 0.4s ease;
    width: 949px;
  }
  
  .desktop-landing-page .mail-us-2 {
    color: #99775c;
    font-family: "REM-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    height: 59px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
    width: 949px;
  }
  